.navbar {
    height: 80px;
    font-size: 1.1rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    background: var(--primary_bg);
}

.navbarWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    li a {
        padding: .5rem 1rem;
    }
}

.logoImg {
    width: 45px;
    height: auto;
}