$whatsappBg: #07bc4c;
$messengerBg: #1877F2;
$orcamentoBg: #242424;

.contatoContainer {
    margin-top: 4rem;

    >div {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            margin: 1rem 0;
        }

        >a {
            svg {
                margin-right: 5px;
            }
        }

        @media screen and (max-width: 768px) {
            width: 70%;
            margin-bottom: 2.5rem;
        }

        @media screen and (max-width: 480px) {
            width: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.btnWhatsapp {
    background: $whatsappBg;
    color: var(--secondary-text);
}

.btnMessenger {
    background: $messengerBg;
    color: var(--secondary-text);
}

.btnOrcamento {
    background: $orcamentoBg;
    color: var(--secondary-text);
}
