:root {
    --primary_bg: #fff;
    --secondary_bg: #409ec2;
    --primary-text: #242424;
    --secondary-text: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4 {
    font-weight: 600;
    color: var(--primary-text);
}

h1 {
    font-size: 2rem;

    @media screen and (max-width: 480px) {
        font-size: 1.7rem;
    }
}

h2 {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;

    @media screen and (max-width: 480px) {
        font-size: 1.6rem;
    }
}

h3 {
    font-size: 1.2rem;
    margin: 1rem 0;
}

p, li, span {
    font-size: 1.2rem;
    color: var(--primary-text);
    line-height: 1.7;
}

h2, h3, p, small {
    text-align: center;
}

p, li, span {
    @media screen and (max-width: 480px) {
        font-size: 1.1rem;
    }
}

small {
    font-size: 1rem;
    line-height: 1.6;
    display: inline-block;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1300px;
    padding: 0 150px;
    margin: 0 auto;

    @media screen and (max-width: 991px) {
        padding: 0 30px;
    }
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section {
    padding: 100px 0;
}

.section-image {
    margin-top: 3.5rem;

    img {
        max-width: 500px;
        width: 100%;
        height: auto;
        display: block;
        margin: 1.5rem auto;
    }
}